<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-371TF0T6ZW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-371TF0T6ZW');
</script>

<script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js" defer></script><script>window.addEventListener("load",function(){window.wpcc.init({"corners":"large","colors":{"popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},"button":{"background":"#555555","text":"#ffffff"}},"border":"thin","content":{"href":"https://protontv.cc/cookie-policy/","message":"ProtonTv uses cookies to ensure you get the best experience on our website"}})});</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8886186300580553"
     crossorigin="anonymous"></script>

</head>
<meta charset="utf-8">
{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 
	<!-- CSS -->
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183927/movie/static/css/bootstrap-reboot.min_dpjdxt.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183937/movie/static/css/bootstrap-grid.min_evacqn.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183929/movie/static/css/owl.carousel.min_tuuejg.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183939/movie/static/css/jquery.mCustomScrollbar.min_gnkz9v.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183927/movie/static/css/nouislider.min_vwlenh.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183934/movie/static/css/plyr_tr9hgb.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183928/movie/static/css/photoswipe_ex3v4x.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650183930/movie/static/css/default-skin_aiesm2.css">
	<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650915346/movie/static/css/main_rizahq.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="https://res.cloudinary.com/dxojb4izx/image/upload/v1650183930/movie/static/icon/favicon-32x32_nheuci.png" sizes="32x32">
	<link rel="apple-touch-icon" href="https://res.cloudinary.com/dxojb4izx/image/upload/v1650183930/movie/static/icon/favicon-32x32_nheuci.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>ProtonTv – Online Movies, TV Shows & Cinema HTML Template</title>

<!-- scripts -->
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184310/movie/static/js/jquery-3.6.0.min_hals7f.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184286/movie/static/js/bootstrap.bundle.min_fvezjt.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184329/movie/static/js/owl.carousel.min_i8jnga.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184311/movie/static/js/jquery.mousewheel.min_q5f0jc.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184312/movie/static/js/jquery.mCustomScrollbar.min_sqg1zb.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184332/movie/static/js/wNumb_uj8h4s.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184317/movie/static/js/nouislider.min_cvdt9i.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184345/movie/static/js/plyr.min_gibrhj.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184311/movie/static/js/jquery.morelines.min_bhkxrd.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184337/movie/static/js/photoswipe.min_a06oxp.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184322/movie/static/js/photoswipe-ui-default.min_macxsd.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650184316/movie/static/js/main_bnj6rj.js"></script>

<body oncontextmenu="return false;"></body>

<script>
	document.onkeydown = function(e) {
	if(event.keyCode == 123) {
		return false;
	}
	if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
		return false;
	}
	if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
		return false;
	}
	if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
		return false;
	}
	}
</script>