{% include 'dashboard/links.html' %}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Edit user <span style="color: #ff55a5;">
					{% if messages %}
						{% for message in messages %}
							{{message}}
						{% endfor %}
					{% endif %}
					</span></h2>
				</div>
			</div>
			<!-- end main title -->

			<!-- profile -->
			<div class="col-12">
				<div class="profile__content">
					<!-- profile user -->
					<div class="profile__user">
						<div class="profile__avatar">
							<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1654965334/movie/static/dashboard/img/user_rnp2so.svg" alt="">
						</div>
						<!-- or red -->
						<div class="profile__meta profile__meta--green">
							<h3>{{profile.user_name}} <span>
								{% if profile.verified == True %}
									(Approved)
								{% else %}
									(Banned)
								{% endif %}
							</span></h3>
							<span>ProtonTv ID: {{profile.user.id}}</span>
						</div>
					</div>
					<!-- end profile user -->

					<!-- profile tabs nav -->
					<ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Comments</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews</a>
						</li>
					</ul>
					<!-- end profile tabs nav -->

					<!-- profile mobile tabs nav -->
					<div class="profile__mobile-tabs" id="profile__mobile-tabs">
						<div class="profile__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="Profile">
							<span></span>
						</div>

						<div class="profile__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Comments</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews</a></li>
							</ul>
						</div>
					</div>
					<!-- end profile mobile tabs nav -->

					<!-- profile btns -->
					<div class="profile__actions">
						<a href="#modal-status3" class="profile__action profile__action--banned open-modal" onclick="ban_user()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,13a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V14A1,1,0,0,0,12,13Zm5-4V7A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9ZM9,7a3,3,0,0,1,6,0V9H9Zm9,12a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z"/></svg></a>
						<a href="#modal-delete3" class="profile__action profile__action--delete open-modal" onclick="ban_user()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg></a>
					</div>
					<script>
						function ban_user () {
							document.getElementById('draft-user').href = "{% url 'ban-user' user.email %}"
						}
					</script>
					<!-- end profile btns -->
				</div>
			</div>
			<!-- end profile -->

			<!-- content tabs -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="col-12">
						<div class="row">
							<!-- details form -->
							<div class="col-12 col-lg-6">
								<form action="{% url 'edit-user-profile' profile.email %}" method="POST" class="profile__form">
									{% csrf_token %}
									<div class="row">
										<div class="col-12">
											<h4 class="profile__title">Profile details</h4>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="username">Username</label>
												<input id="username" type="text" name="username" class="profile__input" placeholder="User 123">
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="email">Email</label>
												<input id="email" type="text" name="email" class="profile__input" placeholder="email@email.com">
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="firstname">First Name</label>
												<input id="firstname" type="text" name="firstname" class="profile__input" placeholder="John">
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="lastname">Last Name</label>
												<input id="lastname" type="text" name="lastname" class="profile__input" placeholder="Doe">
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<label class="profile__label" for="subscription">Subscription</label>
											<select class="js-example-basic-single" id="subscription" name="subscription">
												<option value="Basic">Basic</option>
												<option value="Premium">Premium</option>
												<option value="Cinematic">Cinematic</option>
											</select>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<label class="profile__label" for="rights">Rights</label>
											<select class="js-example-basic-single" id="rights" name="user_type">
												<option value="User">User</option>
												<option value="Moderator">Moderator</option>
												<option value="Admin">Admin</option>
											</select>
										</div>

										<div class="col-12">
											<button class="profile__btn" type="submit">Save</button>
										</div>
									</div>
								</form>
							</div>
							<!-- end details form -->

							<!-- password form -->
							<div class="col-12 col-lg-6">
								<form action="{% url 'change-user-password' profile.email %}" method="POST" class="profile__form">
									{% csrf_token %}
									<div class="row">
										<div class="col-12">
											<h4 class="profile__title">Change password</h4>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="oldpass">Old Password</label>
												<input id="oldpass" type="password" name="oldpass" class="profile__input" required>
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="newpass">New Password</label>
												<input id="newpass" type="password" name="newpass" class="profile__input" required>
											</div>
										</div>

										<div class="col-12 col-md-6 col-lg-12 col-xl-6">
											<div class="profile__group">
												<label class="profile__label" for="confirmpass">Confirm New Password</label>
												<input id="confirmpass" type="password" name="confirmpass" class="profile__input" required>
											</div>
										</div>

										<div class="col-12">
											<button class="profile__btn" type="submit">Change</button>
										</div>
									</div>
								</form>
							</div>
							<!-- end password form -->
						</div>
					</div>	
				</div>

				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
					<!-- table -->
					<div class="col-12">
						<div class="main__table-wrap">
							<table class="main__table">
								<thead>
									<tr>
										<th>ID</th>
										<th>ITEM</th>
										<th>AUTHOR</th>
										<th>TEXT</th>
										<th>LIKE / DISLIKE</th>
										<th>CRAETED DATE</th>
										<th>ACTIONS</th>
									</tr>
								</thead>

								<tbody>
									{% for i in episode %}
									<tr>
										<td>
											<div class="main__table-text">{{i.id}}</div>
										</td>
										<td>
											<div class="main__table-text">{{i.episode}}</div>
										</td>
										<td>
											<div class="main__table-text">{{i.name}}</div>
										</td>
										<td>
											<div class="main__table-text">{{i.body}}</div>
										</td>
										<td>
											<div class="main__table-text">12 / 7</div>
										</td>
										<td>
											<div class="main__table-text">{{i.date}}</div>
										</td>
										<td>
											<div class="main__table-btns">
												<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
												</a>
												<a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_comment(name = '{{i.name}}', title = '{{i.episode.title}}', series_name = '{{i.series_name}}', comment_body = '{{i.body}}')">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
												</a>
											</div>
										</td>
									</tr>
									<script>
										function delete_comment (name, title, series_name, comment_body) {
											document.getElementById('delete-comment').href = `comments/delete/${name}/${title}/${series_name}/${comment_body}/`
										}
									</script>
									{% endfor %}

									{% for j in movie %}
									<tr>
										<td>
											<div class="main__table-text">{{j.id}}</div>
										</td>
										<td>
											<div class="main__table-text">{{j.movie}}</div>
										</td>
										<td>
											<div class="main__table-text">{{j.name}}</div>
										</td>
										<td>
											<div class="main__table-text">{{j.body}}</div>
										</td>
										<td>
											<div class="main__table-text">12 / 7</div>
										</td>
										<td>
											<div class="main__table-text">{{j.date}}</div>
										</td>
										<td>
											<div class="main__table-btns">
												<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
												</a>
												<a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_comment_movie ()">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
												</a>
											</div>
										</td>
									</tr>
									<script>
										function delete_comment_movie () {
											document.getElementById('delete-comment').href = "{% url 'delete-comment-movie' j.name.username j.movie j.body %}"
										}
									</script>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- end table -->

					<!-- paginator -->
					<div class="col-12">
						<div class="paginator-wrap">
							<span>{{user_comment}} of {{number_of_comments}}</span>

							<ul class="paginator">
								<li class="paginator__item paginator__item--prev">
									<a href="#"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"></path></svg></a>
								</li>
								<li class="paginator__item"><a href="#">1</a></li>
								<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
								<li class="paginator__item"><a href="#">3</a></li>
								<li class="paginator__item"><a href="#">4</a></li>
								<li class="paginator__item paginator__item--next">
									<a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path></svg></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- end paginator -->
				</div>

				<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
					<!-- table -->
					<div class="col-12">
						<div class="main__table-wrap">
							<table class="main__table">
								<thead>
									<tr>
										<th>ID</th>
										<th>ITEM</th>
										<th>AUTHOR</th>
										<th>TEXT</th>
										<th>RATING</th>
										<th>LIKE / DISLIKE</th>
										<th>CRAETED DATE</th>
										<th>ACTIONS</th>
									</tr>
								</thead>

								<tbody>
								{% for i in movie_review %}
								<tr>
									<td>
										<div class="main__table-text">{{i.id}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.movie}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.name}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.body}}</div>
									</td>
									<td>
										<div class="main__table-text main__table-text--rate">{{i.rate}}</div>
									</td>
									<td>
										<div class="main__table-text">12 / 7</div>
									</td>
									<td>
										<div class="main__table-text">{{i.date}}</div>
									</td>
									<td>
										<div class="main__table-btns">
											<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
											</a>
											<a href="#modal-delete2" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_review()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
											</a>
										</div>
									</td>
								</tr>
								<script>
									function delete_review () {
										document.getElementById('delete-review').href = '{% url "delete-review-movie" i.name.username i.movie i.body %}'
									}
								</script>
								{% endfor %}

								{% for i in series_review %}
								<tr>
									<td>
										<div class="main__table-text">{{i.id}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.series_name}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.name}}</div>
									</td>
									<td>
										<div class="main__table-text">{{i.body}}</div>
									</td>
									<td>
										<div class="main__table-text main__table-text--rate">{{i.rate}}</div>
									</td>
									<td>
										<div class="main__table-text">12 / 7</div>
									</td>
									<td>
										<div class="main__table-text">{{i.date}}</div>
									</td>
									<td>
										<div class="main__table-btns">
											<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
											</a>
											<a href="#modal-delete2" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_review_series()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
											</a>
										</div>
									</td>
								</tr>
								<script>
									function delete_review_series () {
										document.getElementById('delete-review').href = '{% url "delete-review-series" i.name.username i.episode.title i.series_name i.body %}'
									}
								</script>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- end table -->

					<!-- paginator -->
					<div class="col-12">
						<div class="paginator-wrap">
							<span>{{user_review}} of {{number_of_revs}}</span>

							<ul class="paginator">
								<li class="paginator__item paginator__item--prev">
									<a href="#"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"></path></svg></a>
								</li>
								<li class="paginator__item"><a href="#">1</a></li>
								<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
								<li class="paginator__item"><a href="#">3</a></li>
								<li class="paginator__item"><a href="#">4</a></li>
								<li class="paginator__item paginator__item--next">
									<a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path></svg></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- end paginator -->
				</div>
			</div>
			<!-- end content tabs -->
		</div>
	</div>
</main>
<!-- end main content -->

<!-- modal view -->
<div id="modal-view" class="zoom-anim-dialog mfp-hide modal modal--view">
	<div class="comments__autor">
		<img class="comments__avatar" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1654965334/movie/static/dashboard/img/user_rnp2so.svg" alt="">
		<span class="comments__name">John Doe</span>
		<span class="comments__time">30.08.2018, 17:53</span>
	</div>
	<p class="comments__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
	<div class="comments__actions">
		<div class="comments__rate">
			<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"/></svg>12</span>

			<span>7<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"/></svg></span>
		</div>
	</div>
</div>
<!-- end modal view -->

<!-- modal delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">Comment delete</h6>

	<p class="modal__text">Are you sure to permanently delete this comment?</p>
	<a href="" id="delete-comment"></a>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button" onclick="window.location.href=document.getElementById('delete-comment').href" type="button">Delete</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</div>
<!-- end modal delete -->

<!-- modal view -->
<div id="modal-view2" class="zoom-anim-dialog mfp-hide modal modal--view">
	<div class="reviews__autor">
		<img class="reviews__avatar" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1654965334/movie/static/dashboard/img/user_rnp2so.svg" alt="">
		<span class="reviews__name">Best Marvel movie in my opinion</span>
		<span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

		<span class="reviews__rating">8.4</span>
	</div>
	<p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
</div>
<!-- end modal view -->

<!-- modal delete -->
<div id="modal-delete2" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">Review delete</h6>

	<p class="modal__text">Are you sure to permanently delete this review?</p>
	<a href="" id="delete-review"></a>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button" onclick="window.location.href=document.getElementById('delete-review').href">Delete</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</div>
<!-- end modal delete -->

<!-- modal status -->
<div id="modal-status3" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">Status change</h6>

	<p class="modal__text">Are you sure about immediately change status?</p>
	
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button" onclick="window.location.href=document.getElementById('draft-user').href">Apply</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</div>
<!-- end modal status -->

<!-- modal delete -->
<div id="modal-delete3" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">User delete</h6>

	<p class="modal__text">Are you sure to permanently delete this user?</p>
	<a href="" id="draft-user"></a>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button" onclick="window.location.href=document.getElementById('draft-user').href">Delete</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</div>
<!-- end modal delete -->
</body>
</html>