{% include 'dashboard/links.html' %}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Reviews</h2>

					<span class="main__title-stat">{{num_revs}} Total</span>

					<div class="main__title-wrap">
						<!-- filter sort -->
						<div class="filter" id="filter__sort">
							<span class="filter__item-label">Sort by:</span>

							<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Date created">
								<span></span>
							</div>

							<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
								<li>Date created</li>
								<li>Rating</li>
							</ul>
						</div>
						<!-- end filter sort -->

						<!-- search -->
						<form action="{% url 'filter-comment-reviews' %}" method="POST" class="main__title-form">
							{% csrf_token %}
							<input type="text" placeholder="Key word.." name="search" required>
							<button type="submit">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"></path></svg>
							</button>
						</form>
						<!-- end search -->
					</div>
				</div>
			</div>
			<!-- end main title -->

			<!-- reviews -->
			<div class="col-12">
				<div class="main__table-wrap">
					<table class="main__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>ITEM</th>
								<th>AUTHOR</th>
								<th>TEXT</th>
								<th>RATING</th>
								<th>LIKE / DISLIKE</th>
								<th>CRAETED DATE</th>
								<th>ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							{% for i in reviews %}
							<tr>
								<td>
									<div class="main__table-text">{{i.id}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.movie}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.name}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.body}}</div>
								</td>
								<td>
									<div class="main__table-text main__table-text--rate">{{i.rate}}</div>
								</td>
								<td>
									<div class="main__table-text">12 / 7</div>
								</td>
								<td>
									<div class="main__table-text">{{i.date}}</div>
								</td>
								<td>
									<div class="main__table-btns">
										<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
										</a>
										<a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_review()">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
										</a>
									</div>
								</td>
							</tr>
							<script>
								function delete_review () {
									document.getElementById('delete-review').href = '{% url "delete-review-movie" i.name.username i.movie i.body %}'
								}
							</script>
							{% endfor %}

							{% for i in episode_review %}
							<tr>
								<td>
									<div class="main__table-text">{{i.id}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.series_name}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.name}}</div>
								</td>
								<td>
									<div class="main__table-text">{{i.body}}</div>
								</td>
								<td>
									<div class="main__table-text main__table-text--rate">{{i.rate}}</div>
								</td>
								<td>
									<div class="main__table-text">12 / 7</div>
								</td>
								<td>
									<div class="main__table-text">{{i.date}}</div>
								</td>
								<td>
									<div class="main__table-btns">
										<a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
										</a>
										<a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" onclick="delete_review_series()">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
										</a>
									</div>
								</td>
							</tr>
							<script>
								function delete_review_series () {
									document.getElementById('delete-review').href = '{% url "delete-review-series" i.name.username i.episode.title i.series_name i.body %}'
								}
							</script>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- end reviews -->

			<!-- paginator -->
			<div class="col-12">
				<div class="paginator-wrap">
					<span>10 from 9 071</span>

					<ul class="paginator">
						<li class="paginator__item paginator__item--prev">
							<a href="#"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"></path></svg></a>
						</li>
						<li class="paginator__item"><a href="#">1</a></li>
						<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
						<li class="paginator__item"><a href="#">3</a></li>
						<li class="paginator__item"><a href="#">4</a></li>
						<li class="paginator__item paginator__item--next">
							<a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path></svg></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end paginator -->
		</div>
	</div>
</main>
<!-- end main content -->

<!-- modal view -->
<div id="modal-view" class="zoom-anim-dialog mfp-hide modal modal--view">
	<div class="reviews__autor">
		<img class="reviews__avatar" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1654965334/movie/static/dashboard/img/user_rnp2so.svg" alt="">
		<span class="reviews__name">Best Marvel movie in my opinion</span>
		<span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

		<span class="reviews__rating">8.4</span>
	</div>
	<p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
</div>
<!-- end modal view -->

<!-- modal delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title">Review delete</h6>

	<p class="modal__text">Are you sure to permanently delete this review?</p>

	<a href="" id="delete-review"></a>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button" onclick="window.location.href=document.getElementById('delete-review').href" type="button">Delete</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
	</div>
</div>
<!-- end modal delete -->


</body>
</html>